{{#if user}}

<nav class="flex items-center justify-center w-full bg-primary-400 py-4 text-[1.25rem]">
    <a href="/following" class="text-white font-head font-bold mx-[3rem]">Following</a>
    <a href="/search" class="text-white font-head font-bold mx-[3rem]">Search</a>
    <a href="/you" class="text-white font-head font-bold mx-[3rem]">You</a>
</nav>

<div class="grid grid-cols-3 gap-4">
    {{#each posts}}
        <div onclick="location.href='/story/{{this._id}}';" class="relative p-4 group flex items-center">
            <img src="{{this.images.[0]}}" alt="Post Image">
            <div class="opacity-0 bg-black text-white p-2 absolute inset-0 flex items-center justify-center group-hover:opacity-75 transition-opacity duration-300">
                <div>
                    <h3 class="text-[3rem] text-center font-bold font-head">{{this.title}}</h3>
                    <h3 class="text-[2rem] text-center font-head">{{this.location}}</h3>
                    <h3 class="text-[1rem] text-center font-body">By @{{this.author.username}}</h3>
                </div>
            </div>
        </div>
    {{/each}}
</div>

<a href="/make-post" class="block text-primary-500 hover:underline text-center p-4">Write a Story!</a>

{{else}}

<div class="flex h-[calc(100vh-10rem)]">
    <div class="w-1/2">
        <img src="/images/landing.jpg" class="object-cover object-center w-full h-full shadow-md">
    </div>

    <div class="w-1/2 md:w-1/2 p-8 flex items-center">
        <div class="flex flex-col">
            <h1 class="text-[3rem] font-head font-bold mb-[2rem]">Inspire. Connect. Celebrate.</h1>
            <p class="text-[1rem] font-body text-secondary-800 mb-[2rem] pr-[5rem] text-justify">
                Get ready to dive into a world of inspiration, connection, and celebration—all about the joy of travel! Share your amazing travel tales, connect with like-minded wanderers, and soak up the vibes of unique journeys. It's all about discovering, connecting, and learning from each other's adventures. Let's make travel stories come alive together!
            </p>
            <div class="flex">
                <a href="/register" class="bg-primary-300 hover:bg-primary-400 text-white text-body py-2 px-4 rounded mr-2">Register</a>
                <a href="/login" class="bg-primary-300 hover:bg-primary-400 text-white text-body py-2 px-4 rounded">Login</a>
            </div>
        </div>
    </div>
</div>

{{/if}}