{{#if own}}
    <a href="/logout">Logout</a>
    <a href="/{{user.username}}/edit">Edit Profile</a>
{{else}}
    {{#if following}}
        <a href="/follow/{{user._id}}">Unfollow</a>
    {{else}}
        <a href="/follow/{{user._id}}">Follow</a>
    {{/if}}
{{/if}}

{{#each stories}}
    <div onclick = "location.href = '/story/{{this._id}}';" style="cursor: pointer;">
        title: {{this.title}}
        location: {{this.location}}
        posted on: {{this.timestamp}}
        likes: {{this.likes.length}}
    </div>
{{/each}}

