<form method="get" action="">
    <input type="text" name="find" placeholder="I'm looking for ...">
    <input type="submit" value="Search">
</form>

{{#if users.length}}
    <h1>Users</h1>
    {{#each users}}
        <div>
            <a href="/u/{{this.username}}">{{this.username}}</a>
        </div>
    {{/each}}
{{/if}} 

{{#if posts.length}}
    <h1>Stories</h1>
    {{#each titles}}
        <div onclick = "location.href = '/story/{{this._id}}';" style="cursor: pointer;">
            title: {{this.title}}
            location: {{this.location}}
            posted on: {{this.timestamp}}
            likes: {{this.likes.length}}
        </div>
    {{/each}}
{{/if}} 

{{#if contents.length}}
    <h1>Contents</h1>
    {{#each titles}}
        <div onclick = "location.href = '/story/{{this._id}}';" style="cursor: pointer;">
            title: {{this.title}}
            location: {{this.location}}
            posted on: {{this.timestamp}}
            likes: {{this.likes.length}}
        </div>
    {{/each}}
{{/if}} 

{{#if location.length}}
    <h1>Location</h1>
    {{#each titles}}
        <div onclick = "location.href = '/story/{{this._id}}';" style="cursor: pointer;">
            title: {{this.title}}
            location: {{this.location}}
            posted on: {{this.timestamp}}
            likes: {{this.likes.length}}
        </div>
    {{/each}}
{{/if}} 